$wildsand: #F5F5F5;
$mineshaft: #282828;
$zircon: #F5F8FF;
$silverchalice: #A9A9A9;
$emperror: #525252;
$gallery: #EEEEEE;
$mariner: #1F6CBE;
$bright: linear-gradient(82.33deg, #9E0CAA 0.26%, #242AFF 47.35%, #23FBE1 111.53%);
$blueViolet: #5C71B2;
$white: white;
$blueRibbon: #2A5CF6;
$shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.08);
$main_size-radius: 40px;
$main_fz: 16px;
$short: 150ms linear;
