 body {
     color: var(--mercury);
     background-color: var(--black);
 }

 .choice__slider-btn {
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     top: 50%;
     width: 38px;
     height: 38px;
     border-radius: 50%;
     color: var(--silver-chalice);
     background-color: var(--bony-clay);
 }

 .choice__btn {
     font-weight: var(--font-bold);
     font-size: 20px;
     padding: 3px 0;
     white-space: nowrap;
     border-bottom-style: solid;
     border-bottom-width: 3px;
     border-color: transparent;
     color: var(--dove-gray);
 }

 .choice__btn_active {
     color: var(--white);
     border-color: var(--white);
 }

 .details-card__container {
     background-color: var(--bony-clay);
 }

 .search {
     background-color: var(--bony-clay);
 }

 .search__input {
     border-radius: var(--main-radius);
     height: 50px;
     padding: 14px 14px 14px 45px;
     font-weight: var(--font-medium);
     border: 2px solid var(--silver-chalice);
     background-color: inherit;
     color: var(--white);
     width: 100%;
     max-width: 250px;
 }

 .search__close {
     color: var(--mercury);
 }

 .search__input::placeholder {
     color: var(--white);
 }

 .search__submit {
     border-radius: var(--main-radius);
     padding: 12px 19px;
     font-weight: var(--font-bold);
     color: var(--white);
     border: 2px solid var(--silver-chalice);
 }

 .search__svg {
     color: var(--silver-chalice);
 }

 .location {
     color: var(--silver-chalice);
 }

 .card {
     background-color: var(--bony-clay);
     color: var(--mercury);
 }

 .card__temperature-later {
     color: var(--dove-gray);
 }

 .values {
     color: var(--mercury);
 }

 .values__img_lite {
     display: none;
 }

 .values__data {
     color: var(--silver-chalice);
 }

 .values__descr {
     color: var(--silver-chalice);
 }

 .weather-left {
     background-color: var(--bony-clay);
 }

 .weather__open {
     align-self: flex-start;
     padding: 15px 27px;
     font-weight: 700;
     border-width: 2px;
     border-style: solid;
     color: var(--mercury);
     border-color: var(--silver-chalice);
     border-radius: var(--main-radius);
 }

 .theme-btn {
     padding-left: 34px;
 }

 .theme-btn__switch {
     background-color: var(--burn-siena);
     color: var(--bony-clay);
 }
