@import './fonts';
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Rubik';
    font-size: $main_fz;
    min-width: 320px;
    font-weight: 400;
    margin: 0;
    transition: background-color $short, color $short;
}

.container {
    margin: 0 auto;
    max-width: 1480px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 35px;
}

.section {
    margin-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.section-title {
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 20px;
}

.text {
    font-size: 36px;
}

img {
    max-width: 100%;
}

.link-reset {
    text-decoration: none;
    color: inherit;
}

.link-reset:focus {
    outline: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.input-reset {
    border: none;
    padding: 0;
    max-width: 100%;
    font: inherit;
}

.input-reset:focus {
    outline: none;
}

.btn-reset {
    padding: 0;
    background-color: transparent;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.btn-reset:focus-visible {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

@media(max-width: 992px) {
    .container {
        padding: 35px;
    }
    .section {
        margin-bottom: 60px;
    }
    .section-title {
        font-size: 40px;
    }
    .text {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .section {
        margin-bottom: 40px;
    }
    .container {
        padding: 25px;
    }
}

@media(max-width: 576px) {
    .section-title {
        font-size: 30px;
        text-align: center;
    }
    .text {
        font-size: 24px;
    }
}
