.royal-bottom {
    &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0;
        &>* {
            padding-top: .75vw;
            margin: 0 auto;
        }
        >*:not(:last-child) {
            margin-right: 20px;
        }
    }
}

@media(max-width: 800px) {
    .royal-bottom {
        &__container {
            &>* {
                padding-top: 6px;
            }
        }
    }
}
