.royal-top {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        >*:not(:last-child) {
            margin-right: 20px;
        }
    }
}
