$medium-purple: #A65CF0;
$mauve: #C998FB;
$purple-heart: #7033AC;
$blue-chalk: #EBD1FF;
$magnolia: #F8EFFF;
$white: #ffffff;
$dove-gray: #666666;
$dusty-gray: #999999;
$allery: #EAEAEA;
$mine-shaft: #333333;
$wild-sand: #F6F6F6;
$alabaster: #f7f7f7;
$sulu: #34a718d1;
$wild-watermelon: #FF6972;
$crusta: #FF862F;
$koromiko: #FFBD59;
$milk-punch: #FFF5D1;
$rust: #BB370E;
$straw: #D5B986;
$short: .2s ease-in-out;
$size-radius: 10px;
$main-fz: 16px;
