$mineShaft: #333333;
$tuscany: #CC6633;
$dustyGray: #999999;
$white: #FFFFFF;
$alto: #D9D9D9;
$wild-sand: #F4F4F4;
$dove-gray: #666666;
$silver: #C4C4C4;
$gallery: #ECECEC;
$mercury: #E5E5E5;
$antlantis: #A4CC33;
$hibiscus: #CC3361;
$main-radius: 7px;
$main-fz: 14px;
$main-ff: 'Roboto';
$short: .1s ease-in-out;